main .texto-sobre-mi, table {
  font-size: 15px;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

header {
  font-size: 2.2rem; }
  header .bg-pink {
    background-color: #bb90d6; }
  header nav img {
    width: 10vh; }
  header nav .menu-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #03030318; }
    header nav .menu-center ul {
      align-items: center; }
      header nav .menu-center ul li a:hover {
        color: rgba(149, 92, 170, 0.719); }
      header nav .menu-center ul li a:active {
        color: #b997dd; }
  @media screen and (min-width: 992px) {
    header nav .menu-center {
      align-items: end;
      border-top: none; } }

footer {
  height: 6.6rem;
  background-color: #bb90d6;
  position: relative;
  text-align: end; }
  footer .img-fb {
    width: 20px;
    top: 29px;
    right: 54px;
    display: inline-block;
    position: relative; }
  footer .img-wsp {
    width: 24px;
    top: 5px;
    right: 78px;
    display: inline-block;
    position: relative; }
  footer ul li {
    height: 0.1vh;
    list-style-type: none;
    font-size: 12px; }
  footer .wsp-link {
    bottom: 15px;
    right: 13px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black; }
  footer .fb-link {
    bottom: 0px;
    right: 4px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    top: 10px;
    color: black; }
  footer p {
    text-align: center;
    font-size: 13px;
    position: relative;
    margin: 0;
    top: 14px; }
  @media screen and (min-width: 600px) {
    footer .img-wsp {
      width: 3.2rem;
      transition: 1s;
      top: 3px;
      position: absolute; }
    footer .img-wsp:hover {
      width: 2.5rem; }
    footer .img-fb {
      width: 2.5rem;
      transition: 1s;
      top: 36px;
      position: absolute;
      right: 82px; }
    footer .img-fb:hover {
      width: 1.8rem; }
    footer p {
      top: 35px; }
    footer .wsp-link {
      top: 8px;
      right: 12px; }
    footer .fb-link {
      top: 40px;
      right: 4px; } }

main {
  height: 100vh; }

main .img-italy {
  display: none; }

main .main-img {
  width: 100%;
  height: 100%; }

main .title-sbf {
  font-size: 40px;
  bottom: 97%;
  display: inline;
  position: relative;
  left: 20px; }

main .title-sbf-dos {
  font-size: 20px;
  bottom: 94%;
  display: inline;
  position: relative;
  right: 100px; }

@media screen and (min-width: 600px) {
  main .main-img {
    display: none; }
  main .img-italy {
    display: block;
    width: 100%;
    height: 100%; } }

#main-galeria {
  height: 100%;
  margin-bottom: 10px; }
  #main-galeria .titulo-galeria {
    text-align: center;
    font-size: 24px;
    margin: 20px 20px;
    font-style: italic; }

#main-video {
  height: 100%; }

main .video-uno,
main .video-dos,
main .video-tres,
main .video-cuatro {
  height: 22rem;
  margin: 10px 20px; }

main .contenedor {
  display: grid;
  grid-template-columns: 1fr; }

main div iframe {
  width: 100%;
  height: 100%; }

main .video-cuatro {
  margin-bottom: 2rem; }

@media screen and (min-width: 600px) {
  main .contenedor {
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  main .video-uno,
  main .video-dos,
  main .video-tres,
  main .video-cuatro {
    height: 30rem;
    margin: 0.5rem;
    margin-bottom: 15px; } }

@media screen and (min-width: 992px) {
  main .contenedor {
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 2rem; }
  main .video-uno {
    height: 82rem;
    margin: 0;
    grid-column: span 3;
    grid-row: span 2; }
  main .video-tres {
    padding-left: 5px;
    padding-right: 5px; }
  main .video-dos,
  main .video-tres,
  main .video-cuatro {
    height: 40rem;
    margin: 0;
    width: 100%;
    margin-top: 12px; } }

#main-sobre-mi {
  height: 100%; }

main .mi-foto {
  width: 100%;
  animation: animacion-foto 2s infinite 1s; }

@keyframes animacion-foto {
  0% {
    filter: grayscale(100%); } }

main .texto-sobre-mi {
  margin-top: 10px;
  color: black; }

main div .separado {
  display: none; }

@media screen and (min-width: 1580px) {
  main #div-padre {
    display: flex;
    flex-direction: row; }
  main div .separado {
    display: block;
    padding-top: 10px; }
  main div .texto-sobre-mi {
    font-size: 1.9rem;
    text-align: left; }
  main .camara-uno,
  main .camara-dos {
    width: 40%;
    margin-left: 30%; } }

.camara-uno,
.camara-dos {
  width: 70%;
  margin-left: 55px; }

table {
  width: 100%; }

table ol li {
  list-style-type: none; }

@media screen and (min-width: 600px) {
  #div-padre {
    display: flex;
    flex-direction: column;
    align-items: center; }
  main .mi-foto {
    width: 70%;
    padding: 10px; }
  .descripciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .lista-uno {
    order: 2; }
  .camara-uno {
    order: -1; }
  .lista-dos {
    order: 1; }
  .camara-dos {
    order: -2; }
  .camara-uno,
  .camara-dos {
    width: 50%;
    margin-left: 30%; }
  .accesorios-movil {
    display: none; }
  .lista-uno,
  .lista-dos {
    margin-bottom: 30px; } }

#main-formulario {
  height: 100%; }

main .formulario {
  background: linear-gradient(to bottom, #caa6e2, #a069dc);
  max-width: 400px;
  margin: 0 auto 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000; }
  main .formulario .name,
  main .formulario .surname,
  main .formulario .email,
  main .formulario .message {
    font-size: 13px;
    display: grid;
    justify-items: center; }
  main .formulario .button-mensaje {
    background-color: #e0a8ea;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; }

#fondo-contacto {
  background-image: url(../img/fondo-contacto.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.maps-padre {
  display: flex;
  justify-content: center; }
  .maps-padre .maps {
    height: 280px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5%; }
    @media screen and (min-width: 1024px) {
      .maps-padre .maps {
        height: 410px;
        width: 80%;
        margin-bottom: 10px;
        border-radius: 2%; } }

body {
  font-family: "Edu SA Beginner", cursive;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "PT Serif", serif; }

.body-gradient {
  background-image: linear-gradient(to bottom, #f2e0fb, #e6cff1, #d9bfe7, #cdafdd, #c09fd3); }

.text-center {
  text-align: center;
  font-size: 18px;
  margin: 20px 20px;
  background-color: #bb90d6;
  color: black; }
