@import "utils/mixin";
@import "utils/variables";
@import "utils/extend";
@import "base/reset";
@import "layout/header";
@import "layout/footer";
@import "views/index";
@import "views/galeria";
@import "views/videos";
@import "views/sobremi";
@import "views/contacto";

body {
  font-family: "Edu SA Beginner", cursive;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "PT Serif", serif;
}

.body-gradient {
  background-image: linear-gradient(to bottom, #ffb4a2, #ffcdb2);
}
.text-center {
  text-align: center;
  font-size: 18px;
  margin: 2rem 8rem;
  background-color: #ee9c87;
  color: rgb(0, 0, 0);
}
