footer {
  background-color: $color-nav-footer;
  position: relative;
  text-align: end;

  img {
    width: 3rem;

    margin: 5px 10px;
  }
  .redes {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    text-align: center;
    font-size: 13px;

    margin: 0;
  }

  @media screen and (min-width: 600px) {
    img:hover {
      transform: scale(0.8);
    }
  }
}
