footer {
  height: 9.4rem;
  background-color: $color-nav-footer;
  position: relative;
  text-align: end;

  .img-footer {
    width: 4rem;
    padding: 0 5px;
    padding-top: 10px;
  }
  .redes {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    text-align: center;
    font-size: 13px;
    position: relative;
    margin: 0;
    top: 14px;
  }

  @media screen and (min-width: 600px) {
    .img-footer {
      position: absolute;
      margin: 60px;
    }
    .img-footer:hover {
      width: 3.2rem;
    }

    /*
    p {
      top: 35px;
    }*/
  }
}
