footer {
  height: 6.6rem;
  background-color: $color-nav-footer;
  position: relative;
  text-align: end;

  .img-fb {
    @include footer-img(20px, 29px, 54px);
  }

  .img-wsp {
    @include footer-img(24px, 5px, 78px);
  }

  ul li {
    height: 0.1vh;
    list-style-type: none;
    font-size: 12px;
  }

  .wsp-link {
    @include footer-link(15px, 13px);
    color: black;
  }

  .fb-link {
    @include footer-link(0px, 4px);
    top: 10px;
    color: black;
  }

  p {
    text-align: center;
    font-size: 13px;
    position: relative;
    margin: 0;
    top: 14px;
  }

  @media screen and (min-width: 600px) {
    .img-wsp {
      @include mq-footer(3.2rem, 1s, 3px);
    }

    .img-wsp:hover {
      width: 2.5rem;
    }

    .img-fb {
      @include mq-footer(2.5rem, 1s, 36px);
      right: 82px;
    }

    .img-fb:hover {
      width: 1.8rem;
    }

    p {
      top: 35px;
    }

    .wsp-link {
      @include posicion-link(8px, 12px);
    }

    .fb-link {
      @include posicion-link(40px, 4px);
    }
  }
}
