main {
  height: 100vh;

  .img-tablet,
  .img-desktop {
    display: none;
  }

  .main-img {
    @include medidas-base;
  }
  .title-sbf {
    @include tittle-sbf(40px, 97%);
    left: 20px;
  }
  .title-sbf-dos {
    @include tittle-sbf(20px, 94%);
    right: 100px;
  }
  @media screen and (min-width: 600px) {
    .main-img {
      display: none;
    }

    .img-tablet {
      display: block;
      @include medidas-base;
    }
  }
  @media screen and (min-width: 1024px) {
    .img-tablet {
      display: none;
    }
    .img-desktop {
      display: block;
      @include medidas-base;
    }
  }
}
