#main-sobre-mi {
  height: 100%;
}
main {
  .mi-foto {
    width: 100%;
    padding: 10px;
    animation: animacion-foto 2s infinite 1s;

    @keyframes animacion-foto {
      0% {
        filter: grayscale(100%);
      }
    }
  }

  .texto-sobre-mi {
    @extend %medidas-base;
    margin: 0 10px;
    border-radius: 10px;
    border-style: groove;
    border-color: $color-border;
  }

  div .separado {
    display: none;
  }
}
.experiencias {
  @include flex(column);
  text-align: center;
  align-items: center;
}

.experiencias img {
  width: 60%;
  height: 15rem;
  border-radius: 30px;
}
.experiencias p {
  font-size: 15px;
  padding: 5px 25px;
  margin: 10px;
  border-radius: 10px;
  border-style: groove;
  border-color: $color-border;
}

@media screen and (min-width: 600px) {
  main {
    #div-padre {
      @include flex(column);
      align-items: center;
    }
    .mi-foto {
      width: 70%;
      padding: 10px;
    }
    div .texto-sobre-mi {
      margin: 0 60px;
    }
  }

  .accesorios-movil {
    display: none;
  }
  .experiencias {
    @include grid-template(repeat(2, 1fr));
  }
  .experiencias img {
    width: 90%;
    height: 22rem;
    padding: 10px;
    margin-left: 5%;
  }
}
@media screen and (min-width: 1040px) {
  main {
    #div-padre {
      @include flex(row);
    }
    div .separado {
      display: block;
      padding: 0;
    }
    div .texto-sobre-mi {
      font-size: 1.4rem;
      text-align: left;
      margin: 0 10px;
    }
  }
  .experiencias {
    @include grid-template(repeat(4, 1fr));
  }
}
