#main-sobre-mi {
  height: 100%;
}
main {
  .mi-foto {
    width: 100%;
    padding: 10px;
    animation: animacion-foto 2s infinite 1s;

    @keyframes animacion-foto {
      0% {
        filter: grayscale(100%);
      }
    }
  }

  .texto-sobre-mi {
    @extend %medidas-base;
    margin: 0 10px;
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(253, 201, 192);
  }

  div .separado {
    display: none;
  }
}
.experiencias {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiencias img {
  width: 60%;
  height: 15rem;
  border-radius: 30px;
}
.experiencias p {
  font-size: 15px;
  padding: 5px 25px;
  margin: 10px;
  border-radius: 10px;
  border-style: groove;
  border-color: rgb(253, 201, 192);
}

.camara-uno,
.camara-dos {
  width: 70%;
  margin-left: 55px;
}

table {
  @extend %medidas-base;
  width: 100%;
}

table ol li {
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  #div-padre {
    @include flex(column);
    align-items: center;
  }
  main .mi-foto {
    width: 70%;
    padding: 10px;
  }
  div .texto-sobre-mi {
    margin: 0 60px;
  }
  /*
  .descripciones {
    @include grid-template(repeat(2, 1fr));
  }
  .lista-uno {
    order: 2;
  }
  .camara-uno {
    order: -1;
  }
  .lista-dos {
    order: 1;
  }

  .camara-dos {
    order: -2;
  }
  .camara-uno,
  .camara-dos {
    width: 50%;
    margin-left: 30%;
  }*/
  .accesorios-movil {
    display: none;
  } /*
  .lista-uno,
  .lista-dos {
    margin-bottom: 30px;
  }*/
  .experiencias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .experiencias img {
    width: 90%;
    height: 22rem;
    padding: 10px;
    margin-left: 5%;
  }
}
@media screen and (min-width: 1040px) {
  main {
    #div-padre {
      @include flex(row);
    }
    div .separado {
      display: block;
      padding: 0;
    }
    div .texto-sobre-mi {
      font-size: 1.4rem;
      text-align: left;
      margin: 0 10px;
    }
  } /*
  ./*no,
  .camara-dos {
    width: 40%;
    margin-left: 30%;
  } */
  .experiencias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  } /*
  .experiencias img {
    width: 90%;
    height: 22rem;
    padding: 10px;
    margin-left: 5%;
  }*/
}
